**Web-Scraping-Lab**

scrape data of programming languages and the associated average salary from a URL

import the modules needed

In [1]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd

In [2]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [3]:
data = requests.get(url).text

In [4]:
soup=BeautifulSoup(data, "html5lib")

In [5]:
table=soup.find('table')
def get_data(table):
    language_salary_list = []
    for row in table.find_all('tr'):
        cols=row.find_all('td')
        language_name = cols[1].getText()
        annual_average_salary = cols[3].getText()
    #     print("{}:{}".format(language_name, annual_average_salary))
        language_salary_list.append([language_name, annual_average_salary])
    language_salary_list.remove(['Language', 'Average Annual Salary'])
    return language_salary_list

data=get_data(table)
data

[['Python', '$114,383'],
 ['Java', '$101,013'],
 ['R', '$92,037'],
 ['Javascript', '$110,981'],
 ['Swift', '$130,801'],
 ['C++', '$113,865'],
 ['C#', '$88,726'],
 ['PHP', '$84,727'],
 ['SQL', '$84,793'],
 ['Go', '$94,082']]

In [6]:
df = pd.DataFrame(data, columns=['Language', 'Avg Salary'])
df

     Language Avg Salary
0      Python   $114,383
1        Java   $101,013
2           R    $92,037
3  Javascript   $110,981
4       Swift   $130,801
5         C++   $113,865
6          C#    $88,726
7         PHP    $84,727
8         SQL    $84,793
9          Go    $94,082

Q1. Which language are developers paid the most according to the output of the web scraping lab?

In [7]:
q1 = df.copy()
q1['Avg Salary'] = q1['Avg Salary'].str.replace('$', '').str.replace(',', '').astype(int)
q1.sort_values('Avg Salary', ascending = False)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

     Language  Avg Salary
4       Swift      130801
0      Python      114383
5         C++      113865
3  Javascript      110981
1        Java      101013
9          Go       94082
2           R       92037
6          C#       88726
8         SQL       84793
7         PHP       84727

Q2. Code segments to scrape images: soup.find_all(“img”)